input{
  width: 350px;
  height: 30px;
  border-radius: 6px;
  font-size: 18px;
  color: black;
  padding: 0 15px;
  border: 2px solid #000;
  background: transparent;
  display: block;
  margin: 15px 5px;
}

label{
  margin: 0 5px;
}
